@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts.scss";
.card {
    
  
  background-color: #050533;
  color:#f2f1e8; 
  border-color: #f2f1e8;
  margin-top: 12px;
  margin-bottom: 12px;
  

}
.iCard{
  height: 28rem;
}
.pCard{
    min-height: 28rem;
}
.hCard{
    height: 34rem;
    margin-bottom: 4rem;
}
.list-group{
  margin-top: 10rem;
}

 
.h1 {
  padding-top: 10rem;
  padding-bottom: 8rem;
  color: #f2f1e8;
}
body {
  min-height: 100%;
  background: rgb(13, 105, 139);
  background: linear-gradient(
    31deg,
    rgba(13, 105, 139, 1) 30%,
    rgba(24, 24, 73, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
html {
  height: 100%;
}
.navbar {
  background-color: #050533;
}
.nav-link{
    color:#f2f1e8; 
}
