.image {
  width: 30%;
  &:hover {
    animation: frames 900ms linear;
  }
}

@keyframes frames {
  0% {
    width: 30%;
    rotate:0deg;
  }
  25% {
    opacity: 0.8;
    rotate: 15deg;
  }
  50% {
    opacity: 0.6;
    rotate: -30deg;
  }
  75% {
    rotate: 15deg;
    opacity: 0.8;
  }
  100% {
    rotate: 0deg;
    opacity: 1;
  }
}
