@import'./variables';
$link:#333;
footer{
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:$link;
    position: fixed;
    bottom: 0;
    width: 100%;
    li {
      float: left;
      a {
        @include linkStyles(#111)
  
        
      }
    }
  }
}

