$link: #2196f3;
$linkHover: #064579;
$navWidth:130px;
$mainMargin: $navWidth+10px;

@mixin linkStyles($color) {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: $color;
    }
  }
