.button1 {
  transition: transform 900ms ease-in-out;
}
.trigger {
  margin: 50px;
  width: 30%;
  &:hover {
    .button1 {
      transform: translate(50px) rotate(360deg);
    }
  }
  &:active {
    .button1 {
      transform: translate(250px) rotate(720deg);
    }
  }
}
